#contact{
    padding-top: 2vh;
    text-align: center;
}

/* Semantical configs */

.dv{
    font-family: Poppins;
    font-size: 3.5vh;
    color: #ffffff;
}
.aFooter{
    font-family: Poppins;
    color:#ffffff;
    font-size: 2vh;
}
.divTitle{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
    font-size: 2vh;
}
.divContent{
    display: flex;
    justify-content: space-around;
}

/* Made by footer */

.madeby h5{
    text-align: center;
    font-family: Poppins;
    color:#ffffff;
    font-size: 2vh;
    margin-top: 3vh;
    padding: 1vh 0;
    background-color: #490f72c7;
}
.aBy{
    font-family: Poppins;
    color:#ffffff;
    font-size: 2vh;
}

/* Animations */

.aFooter:hover{
    background-color: #490f72ab;
    transition-delay: 0.1s;
}
